#hourglass {
    padding: 10px;
}

#viz {
    position: absolute;
    padding-right: 53%;
    padding-left: 30%;
}

#words {
    position: absolute;
    padding-left: 53%;
}

body {
    text-align: center;
    height: 100%;
}

#gobble > table > tbody > tr > td {
    border-style: solid;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: x-large;
}

#gobble > table {
    background-color: pink;
    border-collapse: collapse;
}
