
#viz {
    position: float-left;
    padding-top: 10px;
}

#words {
    position: float-right;
    padding-top: 10px;    
}

body {
    text-align: center;
    height: 100%;
}

#gobble > table > tbody > tr > td {
    border-style: solid;
    padding: 10px;
}

#gobble > table {
    background-color: pink;
    border-collapse: collapse;
    text-align: center;
}

