body {
    background-color: #FFFFE1;
    #    background-color: #FFEEDA;
    text-align: center;
    height: 100%;
    position: relative;
    font-family: "APL";
    # source-code-pro,Lucida Console,monaco,monospace;
}

h1 {
    color: #F51988;
}

.gobble {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.occurrence {
    position: relative;
    display: block;
}

#solution {
    padding: 20px;
}

#scores {
    padding: 20px;
}

.occurrence .happening {
    display: none;
    padding: 2px;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
    position: absolute;
    background-color: #F1D0F3;
    color: #1234AF;
    cursor: none;
}

.occurrence:hover .happening {
    display: block;
}

ul {
    list-style-type: none;
}

#hourglass {
    padding: 10px;
}

#pinou > img {
    max-width: 400px;
    max-height: 400px;
}

@font-face { font-family: "APL"; src: url("Apl385.ttf"); }

input { font-family:inherit; }

.blahaleft {
    grid-column: 1;
}

.blahamid {
    grid-column: 2;
}

.blaharight {
    grid-column: 3;
}

#gobble > table > tbody > tr > td {
    border-style: solid;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: x-large;
}

#gobble > table {
    background-color: #F1D0F3;
    border-collapse: collapse;
}

#scores {
}

#scores > table > tbody > tr > td {
    padding: 15px;
}

#scores > table > tbody > tr {
    border-style: solid;
}

#scores > table {
    border-collapse: collapse;
}

#disconnected {
    color: #F51988;
    font-size: x-large;
    font-weight: bold;
    padding: 50px;
}
