body {
    background-color: #FFFFE1;
#    background-color: #FFEEDA;
}

h1 {
    color: #F51988;
}

.column {
    float: left;
    width: 33.33%;
}

.occurrence {
    position: relative;
    display: block;
}

.occurrence .happening {
    display: none;
    padding: 2px;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
    position: absolute;
    background-color: #F1D0F3;
    color: #1234AF;
    cursor: none;
}

.occurrence:hover .happening {
    display: block;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

ul {
    list-style-type: none;
}

#hourglass {
    padding: 10px;
}

#pinou > img {
    max-width: 400px;
    max-height: 400px;
}

body {
    text-align: center;
    height: 100%;
    position: relative;
}

#gobble > table > tbody > tr > td {
    border-style: solid;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: x-large;
}

#gobble > table {
    background-color: #F1D0F3;
    border-collapse: collapse;
}

#scores {
}

#scores > table > tbody > tr > td {
    padding: 15px;
}

#scores > table > tbody > tr {
    border-style: solid;
}

#scores > table {
    border-collapse: collapse;
}

#disconnected {
    color: #F51988;
    font-size: x-large;
    font-weight: bold;
    padding: 50px;
}
