body {
    background-color: #FFFFDC;
    text-align: center;
    margin: auto;
}

h1 {
    color: #F50953;
}

#gobble {
    margin: auto;
}

#boggle {
    margin: auto;
}

#word-list {
    margin: auto;
}

#words {
    margin: auto;
    padding-left: 50%;
}

#people {
    margin: auto;
}

ul #submissions {
    text-align: left;
    margin: auto;
}

#submissions > table > tbody > tr > td {
    padding: 15px;
}

#submissions > table > tbody > tr {
    border-style: solid;
}

table {
    margin: auto;
}

#definitions {
    width: 60%;
    margin: auto;
}
              

#submissions > table {
    margin: auto;
    border-collapse: collapse;
}
